{% load static %}
<div class="sidebar" data-color="green" data-background-color="white" data-image="{% static 'assets/img/sidebar-1.jpg' %}">
      <div class="logo">
        <a target="_blank" rel="noopener noreferrer" href="https://appseed.us/admin-dashboards/django-dashboard-material" class="simple-text logo-normal">
          Dashboard
        </a>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
        {% if request.user.is_authenticated %}

          <li class="nav-item {% if 'index' in segment %} active {% endif %}">
            <a class="nav-link" href="/">
              <i class="material-icons">dashboard</i>
              <p>Dashboard</p>
            </a>
          </li>
          <li class="nav-item {% if 'profile' in segment %} active {% endif %}">
            <a class="nav-link" href="{% url 'webapp:profile' %}">
              <i class="material-icons">person</i>
              <p>User Profile</p>
            </a>
          </li>
          <li class="nav-item {% if 'employee' in segment %} active {% endif %}">
            <a class="nav-link" href="{% url 'webapp:employee' %}">
              <i class="material-icons">badge</i>
              <p>Employee</p>
            </a>
          </li>
          <li class="nav-item {% if 'leave' in segment %} active {% endif %}">
            <a class="nav-link" href="{% url 'webapp:leave' %}">
              <i class="material-icons">outgoing_mail</i>
              <p>Leaves</p>
            </a>
          </li>
          <li class="nav-item {% if 'attendance' in segment %} active {% endif %}">
            <a class="nav-link" href="{% url 'webapp:attendance' %}">
              <i class="material-icons">library_books</i>
              <p>Attendance</p>
            </a>
          </li>
          <!-- <li class="nav-item {% if 'ui-icons' in segment %} active {% endif %}">
            <a class="nav-link" href="/ui-icons.html">
              <i class="material-icons">bubble_chart</i>
              <p>Icons</p>
            </a>
          </li> -->
          <li class="nav-item {% if 'calender' in segment %} active {% endif %}">
            <a class="nav-link" href="{% url 'webapp:calender' %}">
              <i class="material-icons">calendar_month</i>
              <p>Calender</p>
            </a>
          </li>
          <li class="nav-item {% if 'todo' in segment %} active {% endif %}">
            <a class="nav-link" href="{% url 'webapp:todo' %}">
              <i class="material-icons">add_task</i>
              <p>TODO</p>
            </a>
          </li>
          <!-- <li class="nav-item {% if 'ui-notifications' in segment %} active {% endif %}">
            <a class="nav-link" href="/ui-notifications.html">
              <i class="material-icons">notifications</i>
              <p>Notifications</p>
            </a>
          </li> -->

          <li class="nav-item ">
            <a class="nav-link" href="{% url 'adminapp:logout' %}" >
              <i class="material-icons">directions_run</i>
              <p>Logout</p>
            </a>
          </li>

        {% else %}

          <li class="nav-item active">
            <a class="nav-link" 
              target="_blank" rel="noopener noreferrer"  
              href="{% url 'adminapp:login' %}">
              <i class="material-icons">login</i>
              <p>Login</p>
            </a>
          </li>          

        {% endif %}
        </ul>
      </div>

    </div>
